.private-message-toolbar .dropdown-menu .menu .message-content a {
  color: #333;
  border: 0;
  padding: 0;
}

.private-message-toolbar .dropdown-menu .menu .message-content a:hover {
  background-color: transparent;
}

.block-private-message-toolbar .list-message .header {
  background: #2093DA;
  font-size: 12px;
  border-bottom-width: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.block-private-message-toolbar .dropdown-menu-arrow {
  border-bottom-color: #2093DA;
}

.block-private-message-toolbar .list-message li.footer {
  border-top: 1px solid #DADADA;
}

.block-private-message-toolbar .list-message li.footer .footer-item {
  float: none;
  text-align: center;
  font-size: 12px;
  color: #056DAE;
}

.block-private-message-toolbar .list-message .menu {
  overflow-x: unset;
  max-height: none;
}

.block-private-message-toolbar .menu li {
  padding: 10px;
  font-size: 12px;
  color: #000;
  position: relative;
  padding-left: 60px;
  border-top: 1px solid #DADADA;
}

.block-private-message-toolbar .menu li .message-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.block-private-message-toolbar .menu li .timeago {
  color: #808080;
  float: right;
}

.block-private-message-toolbar .menu li .owner {
  color: #808080;
}

.block-private-message-toolbar .menu li .picture {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  left: 10px;
}

.block-private-message-toolbar .dropdown-menu {
  background-color: #fff;
  top: 60px;
}

.privatemessage-manage-header {
  padding: 18px 0;
  margin: 0 18px;
  border-bottom: 1px solid #dadada;
}

.privatemessage-manage-header:before,
.privatemessage-manage-header:after {
  content: " ";
  display: table;
}

.privatemessage-manage-header:after {
  clear: both;
}

.privatemessage-manage-header:before,
.privatemessage-manage-header:after {
  content: " ";
  display: table;
}

.privatemessage-manage-header:after {
  clear: both;
}

.privatemessage-manage-header h2 {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

.privatemessage-manage-header .privatemessage-manage-top {
  float: right;
  line-height: 33px;
}

.privatemessage-manage-header .privatemessage-manage-top .button {
  color: #fff;
  background-color: #0076BF;
  font-size: 0.813rem;
  padding: 2px 1em;
}

@media screen and (min-width: 767px) {
  .privatemessage-manage-top {
    text-align: right;
    position: relative;
    top: -8px;
    line-height: 0;
    margin-top: -25px;
  }
}

.privatemessage-manage-top .button {
  color: #fff;
  background-color: #0076BF;
  font-size: 0.813rem;
  padding: 2px 1em;
}

.dyniva-message-box {
  border: 1px solid #dadada;
  padding: 18px;
  border-radius: 4px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.dyniva-message-box h2 {
  position: relative;
  border-bottom-width: 0px;
  font-size: 14px;
  margin: 0;
  padding-bottom: 18px;
}

.dyniva-message-box h2:after {
  content: "";
  height: 1px;
  background-color: #dadada;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  margin-left: -18px;
  top: auto;
  position: absolute;
  margin-right: -18px;
}

.dyniva-message-box h2>span {
  margin-left: 10px;
}

@media screen and (min-width: 767px) {
  .dyniva-message-box h2>span {
    margin-left: 30px;
  }
}

.dyniva-message-box .views-element-container {
  overflow: initial;
}

.dyniva-message-box .private-message-recipients {
  display: inline-block;
}

.dyniva-message-box .private-message-recipients article {
  display: inline-block;
}

.dyniva-message-box .private-message-recipients article p {
  margin: 0;
}

.dyniva-message-box .content .field--name-private-messages .field--name-created {
  font-size: 12px;
  color: #808080;
  padding-bottom: 10px;
}

.dyniva-message-box .content .field--name-private-messages .field--name-owner {
  position: absolute;
  left: 20px;
  top: 85px;
  width: 60px;
  text-align: center;
}

.dyniva-message-box .content .field--name-private-messages .private-message-wrapper:last-child .private-message-full {
  border-bottom: 0;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DADADA;
  padding-left: 100px;
  position: relative;
  min-height: 100px;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .user_picture {
  position: absolute;
  top: 15px;
  left: 20px;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  overflow: hidden;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my {
  text-align: right;
  padding-right: 0%;
  margin-left: -60px;
  padding-right: 100px;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .user_picture {
  left: auto;
  right: 20px;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .field--name-owner {
  left: auto;
  right: 20px;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .field--name-created {
  text-align: right;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .message-text-wrapper:before,
.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .message-text-wrapper:after {
  content: " ";
  display: table;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .message-text-wrapper:after {
  clear: both;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .message-text-wrapper:before,
.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .message-text-wrapper:after {
  content: " ";
  display: table;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .message-text-wrapper:after {
  clear: both;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .is-my .field--name-message {
  text-align: left;
  float: right;
}

.dyniva-message-box .content .field--name-private-messages .private-message-full .read-count {
  display: inline-block;
  background-color: #77B259;
  color: #fff;
  padding: 3px 12px;
  border-radius: 14px;
  margin-top: 10px;
}

.dyniva-message-box .content .private-message-add-form:before,
.dyniva-message-box .content .private-message-add-form:after {
  content: " ";
  display: table;
}

.dyniva-message-box .content .private-message-add-form:after {
  clear: both;
}

.dyniva-message-box .content .private-message-add-form:before,
.dyniva-message-box .content .private-message-add-form:after {
  content: " ";
  display: table;
}

.dyniva-message-box .content .private-message-add-form:after {
  clear: both;
}

.dyniva-message-box .content .private-message-add-form .form-actions {
  text-align: right;
}

.dyniva-message-box .content .private-message-add-form .form-type-textarea label {
  padding: 20px 0 14px 0;
}

.dyniva-message-box .content .private_message_thread_delete_link_wrapper {
  float: right;
  top: 12px;
  position: relative;
}

.dyniva-message-box .content .field--name-field-pm-subject {
  padding: 12px;
}

.dyniva-message-box form {
  border-top: 1px solid #dadada;
}

.dyniva-message-box .pager {
  margin: 18px 0 0;
}

.dyniva-message-box .pager a:hover {
  text-decoration: none;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row {
  padding: 18px 0;
  position: relative;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row a:hover {
  text-decoration: none;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row .private-message-thread-preview-content .field--name-field-pm-subject {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  background-image: url('../img/mail-open.svg');
  background-repeat: no-repeat;
  background-size: 20px;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row .private-message-thread-preview-content .field--name-field-pm-subject br {
  display: none;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row .private-message-thread-preview-content .username {
  font-size: 12px;
  margin: 0;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row .field--name-created {
  font-size: 12px;
  color: #808080;
  text-align: right;
  float: right;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row:nth-child(even):after {
  content: "" !important;
  display: block !important;
  background: #e5f2fa;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  margin: -1px -18px -1px -18px;
  background-color: #fafafa;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row .private-message-thread a {
  color: #000;
  font-weight: 100;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row .private-message-thread.unread-thread .field--name-field-pm-subject {
  background-image: url('../img/mail.svg');
  font-weight: bold;
}

.block-views-blockdyniva-private-message-block-list .view-dyniva-private-message .view-content .views-row.is-active:after {
  content: "" !important;
  display: block !important;
  background: #e5f2fa;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  margin: -1px -18px -1px -18px;
}
