<div class="cas-login">
  <h2 class="title">{{configure.title}}</h2>
  <div class="desc">{{configure.subtitle}}</div>
  <div class="cas-login-actions">
    <a href="{{configure.url}}" class="btn">{{'Login'|t}}</a>
  </div>
</div>