<div class="block panel-tabs panel-tabs-auto">
  <ul class="menu tab-nav tab-nav-4">
    <li class="active">
      <a data-toggle="tab" href="#">今天</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">昨天</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">最近7天</a>
    </li>
    <li>
      <a data-toggle="tab" href="#">最近30天</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active in">
      <div class="pv-wrapper">
        <div class="tab-content-label">浏览量(PV)</div>
        <div class="tab-content-counter" data-action="nb_actions:today:visits_summary">-</div>
      </div>
      <div class="uv-wrapper">
        <div class="tab-content-label">访客数(UV)</div>
        <div class="tab-content-counter" data-action="nb_visits:today:visits_summary">-</div>
      </div>
    </div>
    <div class="tab-pane">
      <div class="pv-wrapper">
        <div class="tab-content-label">浏览量(PV)</div>
        <div class="tab-content-counter" data-action="nb_actions:yesterday:visits_summary">-</div>
      </div>
      <div class="uv-wrapper">
        <div class="tab-content-label">访客数(UV)</div>
        <div class="tab-content-counter" data-action="nb_visits:yesterday:visits_summary">-</div>
      </div>
    </div>
    <div class="tab-pane">
      <div class="pv-wrapper">
        <div class="tab-content-label">浏览量(PV)</div>
        <div class="tab-content-counter" data-action="actions:7:visits_summary">-</div>
      </div>
      <div class="uv-wrapper">
        <div class="tab-content-label">访客数(UV)</div>
        <div class="tab-content-counter" data-action="visits:7:visits_summary">-</div>
      </div>
    </div>
    <div class="tab-pane">
      <div class="pv-wrapper">
        <div class="tab-content-label">浏览量(PV)</div>
        <div class="tab-content-counter" data-action="actions:30:visits_summary">-</div>
      </div>
      <div class="uv-wrapper">
        <div class="tab-content-label">访客数(UV)</div>
        <div class="tab-content-counter" data-action="visits:30:visits_summary">-</div>
      </div>
    </div>
  </div>
</div>
