<div class="simple-realtime-visitor-widget">
	<div class="simple-realtime-visitor-counter" title="访客数">
		<div>0</div>
	</div>
	<br>
	<div class="simple-realtime-elaboration">
	   <span class="simple-realtime-metric minutes">在近<span data-metric="minutes">0</span>分钟，</span>
		<span class="simple-realtime-metric visits"><span data-metric="visits">0</span> 个访客，</span>
		<span class="simple-realtime-metric actions"><span data-metric="actions">0</span> 次访问</span>
	</div>
</div>