/* ---------- Preview Styles ----------- */
.js .color-preview {
  clear: both;
  float: none !important;
}
.color-preview {
  color:#ffffff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.color-preview-header {
  background-color: #04578b;
  font: inherit;
  position: relative;
  clear:both;
  overflow:hidden;
}
.color-preview-logo {
  float: left;
  padding:5px 10px;
}
.color-preview-logo img{
  width: 28px;
  display: block;
  margin-top: 4px;
}
.color-preview-site-name {
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  padding:5px;
  float: left;
}

.color-preview-main-menu {
  float: right;
  padding:5px 10px;
}
.color-preview-main-menu-links {
  margin: 0;
  padding: 0;
}
.color-preview-main-menu-links a {
  color: #ffffff;
  font-size: 12px;
  line-height: 35px;
  cursor: pointer;
}
.color-preview-main-menu-links a:hover,
.color-preview-main-menu-links a:focus {
  color:#fafbfc;
}
.color-preview-main-menu-links li {
  display: inline;
  list-style-type: none;
  padding: 0 7px;
}


.color-preview-sidebar,
.color-preview-content {
  display: inline;
  float: left; /* LTR */
  position: relative;
  height: 420px;
}


.color-preview-sidebar {
  background-color: #171c20;
  color: #fafafa;
  width: 140px;
}
.color-preview-sidebar-menu ul{
  list-style: none;
  margin: 0;
  padding: 21px 0;
}
.color-preview-sidebar-menu a{
  display: block;
  color: #fafafa;
  padding:5px 10px;
}


.color-preview-content {
  color:#333;
  margin-left: 30px; /* LTR */
  width: 460px;
}
.color-preview-button{
  float: right;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 1.5em;
  border: 1px solid #1e5c90;
  border-radius: 20em;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: all 0.1s;
  margin: 1em 0 0.5em;
  background-color: #0071b8;
  background-image: -webkit-linear-gradient(top, #007bc6, #0071b8);
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  color: #fff;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
  font-weight: 700;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
}

.color-preview .preview-block .preview-content {
  margin-top: 1em;
}
.color-preview .preview-block-menu .preview-content,
.color-preview .preview-block-menu .preview-content ul {
  margin-top: 0;
}
.color-preview-main {
  clear: both;
  overflow:hidden;
}
.color-preview-page-title {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
  margin: 1em 0 0.5em;
}

