<li class="user text-center">
  {% if user_info.user_picture %}
  	<img src="{{ user_info.user_picture }}" width="120" height="120" alt="">
  {% else %}
    <br>
  {% endif %}
  <p><span class="name">{{ user_info.user_name }}</span><br>{{ user_info.user_mail }}</p>
</li>
