/**
 * Editor actions center
 */
.t-c {
  text-align: center;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right;
}

.calendar-date {
  width: 100%;
}

.calendar-date > div {
  width: 100px;
  display: inline-block;
}

.calendar-date > div > label {
  display: inline-block;
}
