/* $Id: ie.css 2016/10/19 15:28:55 WENROO Exp $ */

/**
 * @file
 * Global Novasep Styling
 * Css3 hack and some ie hack
 * Update 2016/10/19
 *
 */


/* =============================================================================
   Reset
   ========================================================================== */
img{
	-ms-interpolation-mode: bicubic;  /* set Ie img display */
	}

/* =============================================================================
   hook lt ie 9  ie8 + ie7 + ie6
   ========================================================================== */

/**/
.lt-ie9 header,
.lt-ie9 footer,
.lt-ie9 section,
.lt-ie9 article{
	display: block;
}

/*
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
*/

.lt-ie9 .menu{
	visibility:visible;
	}

.lt-ie9 .form-submit,
.lt-ie9 button{
	overflow:visible;
	}

.lt-ie9 input[type="checkbox"],
.lt-ie9 input[type="radio"] {
	box-sizing: border-box;
	padding: 0;

  height: 15px;
  width: 15px;
	}

.lt-ie9 textarea{
	overflow: auto;
  }

.lt-ie9 svg:not(:root) {
	overflow: hidden; /* IE9 */
  }

.lt-ie9 textarea:focus,
.lt-ie9 input:focus{
  outline: thin dotted \9;
  }

/**/
.lt-ie9 legend{
	border: 0; /* IE 6/7/8 */
	margin-left: -7px;
	}

.lt-ie9 q{
	quotes: none;
	}

.lt-ie9 audio,
.lt-ie9 canvas,
.lt-ie9 video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
.lt-ie9 form,
.lt-ie9 .clearfix,
.lt-ie9 .tabs{
	zoom:1;
	}


/* TABLE */
.lt-ie9 table{
	border-collapse: collapse;
	}

.lt-ie9 tr.odd th,
.lt-ie9 tr.odd td {
  /*border-bottom: 1px solid #ccc;  IE doesn't display borders on table TR */
  }



/* =============================================================================
   hook lt ie 8 = ie7 + ie6
   ========================================================================== */
.lt-ie8 body{
	overflow-y: visible;
	}

.lt-ie9 body,
.lt-ie9 html,
.lt-ie9 a,
.lt-ie9 h1,
.lt-ie9 h2,
.lt-ie9 h3,
.lt-ie9 h4,
.lt-ie9 h5{
	font-family: Microsoft YaHei, Arial, 微软雅黑, 宋体, Helvetica, sans-serif;
	}

.lt-ie8 form,
.lt-ie8 .clearfix{
	min-height: 1%;  /* ie7 */
	}

.lt-ie8 ul.inline li{
	display:inline;
	}
