{#
/**
 * .dy-footer: base theme footer style
 * .js-dy-footer: apply js
 * #dy-ui-footer: ui preview page footer style
 */
#}
<footer id="dy-ui-footer" style="visibility:visible" class="dy-footer outside-t inside-tb js-dy-footer">
  <div class="inner">
    <span>© 2007-2019 戴文信息科技（上海）有限公司</span>
  </div>
</footer>
<div id="go-to-top" data-options='{"bottom":"60px"}'><i class="icon icon-up"></i></div>
