/* 
 * dyniva admin icons 
 * project id 639096
 */
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#davyin') format('svg'); /* iOS 4.1- */
}

.iconfont{
	font-family: iconfont !important;
  font-size:inherit;
  line-height: 1;
  font-style:normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Override footable icons */
.fooicon {
	font-family: iconfont !important;
}
.fooicon-loader:before {
	content: "\e81c";
}
.fooicon-plus:before {
	content: "\e632";
}
.fooicon-minus:before {
	content: "\e633";
}
.fooicon-search:before {
	content: "\e606";
}
.fooicon-remove:before {
	content: "\e66c";
}
.fooicon-sort:before {
	content: "\e802";
}
.fooicon-sort-asc:before {
	content: "\e8b5";
}
.fooicon-sort-desc:before {
	content: "\e8b4";
}
.fooicon-pencil:before {
	content: "\e629";
}
.fooicon-trash:before {
	content: "\e7cd";
}
.fooicon-eye-close:before {
	content: "\e6da";
}
.fooicon-flash:before {
	content: "\e680";
}
.fooicon-cog:before {
	content: "\e605";
}
.fooicon-stats:before {
	content: "\e61f";
}

/* Override table icons */
table .tablesort{
  background-image: none;
}
.tablesort:after{
	font-family: 'iconfont';
  font-size: inherit;
  line-height: 1;
  font-style:normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 	display: inline-block;
  position: relative;
  top: -5px;
  right: 3px;
}
.tablesort--desc:after{
	content: "\e60f";
}
.tablesort--asc:after{
	content: "\e623";
}


.icon-chart:before { content: "\e61f"; }

.icon-trash:before { content: "\e7cd"; }

.icon-remove:before { content: "\e66c"; }

.icon-arrow-top:before { content: "\e602"; }

.icon-pencil:before { content: "\e629"; }

.icon-arrowup:before { content: "\e60f"; }

.icon-arrowdown-copy:before { content: "\e623"; }

.icon-suojinindent-r:before { content: "\e71d"; }

.icon-suojinindent-l:before { content: "\e71e"; }

.icon-eyeslash:before { content: "\e6da"; }

.icon-sort:before { content: "\e802"; }

.icon-jia:before { content: "\e632"; }

.icon-jian:before { content: "\e633"; }

.icon-loader:before { content: "\e81c"; }

.icon-flash:before { content: "\e680"; }

.icon-cog:before { content: "\e605"; }

.icon-sort-descending:before { content: "\e8b4"; }

.icon-sort-ascending:before { content: "\e8b5"; }

.icon-search:before { content: "\e606"; }

.icon-qiehuandianpu:before { content: "\e610"; }

.icon-duplicate:before { content: "\e673"; }

.icon-arrow-left:before { content: "\e71f"; }

.icon-arrow-right:before { content: "\e720"; }

.icon-arrow-bottom:before { content: "\e721"; }

.icon-bell:before { content: "\e7c4"; }

.icon-mail:before { content: "\e7de"; }






