/* Img @TODO BUILD ERROR SRC */
.sidebar-hide .toggle-button-r {
  background-image: url('../images/spread.png');
}

.toggle-button {
  background-image: url('../images/shrink.png');
}

.ajax-progress-throbber .throbber {
  background-image: url('../images/throbber/indicator_mozilla_blu.gif');
}

.page-user-slide {
  background-image: url('../images/bg-login.png');
}

/**
 * fix dropbutton-single in views style
 */
.view .view-content td .dropbutton-wrapper {
  height: 2em;
}

.view .view-content td .dropbutton-single .dropbutton-widget {
  position: static;
}

/* fix contrib module style */
.item-container.label {
  color: inherit;
}
form h4.label {
  color: #000;
  font-size: 100%;
}
.access-item-settings-wrapper .form-checkboxes .form-item,
.access-item-settings-wrapper .form-radios .form-item {
    display: block;
}