{% if content %}
<div class="inner">
  <div class="row">
    {{content.top}}
  </div>
  <div class="row content-48">
    <div class="col-xs-12 col-md-4">
      {{content.left}}
    </div>
    <div class="col-xs-12 col-md-8">
      {{content.content}}
    </div>
  </div>
  <div class="row">
    {{content.bottom}}
  </div>
</div>
{% endif %}
