{#
/**
 * @file
 * Toolbar tray template to show qrcode of current page.
 *
 * @ingroup themeable
 */
#}
{% if qrcode_img_src %}
  <div style="text-align: center;">
    <img src="{{ file_url(qrcode_img_src) }}" alt="Qrcode" />
  </div>
{% endif %}
