{% if content %}
<div class="inner">
  <div class="row">
    {{content.top}}
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      {{content.left}}
    </div>
    <div class="col-xs-12 col-md-9">
      {{content.content}}
    </div>
  </div>
  <div class="row">
    {{content.bottom}}
  </div>
</div>
{% endif %}
