.toolbar-item[data-qrcode-src] {
  min-height: 39px;
}

.toolbar-item[data-qrcode-src]:before {
  background-image: url(../icons/icon-qrcode.svg) !important;
}

.toolbar-item[data-qrcode-src] .qrcode-content {
  position: absolute;
  top: 100%;
  text-indent: 0;
  text-align: center;
  right: 0;
  background-color: #fff;
  border: 1px solid #eee;
  display: none;
  padding: 8px;
  color: #565656;
  font-weight: normal;
}

.toolbar-item[data-qrcode-src] .qrcode-content .qrcode-footer {
  margin: 4px 0;
}

.toolbar-item[data-qrcode-src] .qrcode-content .qrcode-footer.isHide {
  display: none;
}

/* no menu title */
.toolbar .toolbar-bar .toolbar-tab>.toolbar-item.hideTitle[data-qrcode-src] {
  height: 39px;
  padding-right: 0;
}
