# Nodejs tools
node_modules/
node_modules/*

# Bower
# bower_components/*
# Bower Except
# !bower_components/code-prettify/src/prettify.css
# !bower_components/code-prettify/src/prettify.js

# Drupal System
../../sites/default/files/
../../sites/default/files/*
