{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="telephone=no" name="format-detection" />
<meta content="width=device-width" name="viewport" />
<title>Title</title>
<style type="text/css">
	body { width: 100%; margin: 0; padding: 0; font-family: Arial;}
	body { -webkit-text-size-adjust: none;-ms-text-size-adjust: none;	-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100%; height: 100%; }
	img { line-height: 100%; outline: none;text-decoration: none; }
	a img {border: none; }
	p {margin: 1em 0; }
	h1, h2, h3, h4, h5, h6 { line-height: 100%; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { }
	h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active { }
	h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { }
	table td { border-collapse: collapse; }
</style>
</head>
<body>
{{ body }}
</body>
</html>
