{#
/**
 * @file connector.html.twig
 * Default theme implementation to present Connector data.
 *
 * This template is used when viewing Connector pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_connector()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('connector') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
