.dyniva-matomo-analytics-toolbar-form .form-item {
  display: inline-block;
  margin-right: 20px;
}

/* .matomo-widget {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0px 3px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #fff !important;
} */
.matomo-widget .chart-wrapper {
  width: 100%;
  height: 400px;
}

/*通用body*/
body {
  background-color: #f9f9f9 !important;
}

body .mm-page {
  font-size: 14px;
  line-height: 24px;
  background-color: #f9f9f9;
}

header.content-header .block-page-title-block {
  background-color: #f9f9f9;
}

/*内页主标题*/
.mm-page h1.page-title {
  font-size: 24px;
  line-height: 1;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #bcbbbb;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

/*内页标题*/
.mm-page .page-content h2 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 20px 0;
}

/*块级边框 表格*/
.mm-page .page-content .block>div {
  background-color: #fff;
}

.mm-page .page-content .block#block-dyniva-matomo-sites-today tbody tr td:first-child div:first-child {
  color: #0f67a3;
}

.mm-page .page-content table {
  margin-bottom: 0;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(204, 204, 204, 0.35);
  border: solid 1px #e5e5e5;
  border-top: 4px solid #e5e5e5;
}

.mm-page .page-content table thead tr th {
  background-color: #fff;
  border-color: #e5e5e5;
}

.mm-page .page-content table thead tr th:first-child {
  padding-left: 40px;
}

.mm-page .page-content table thead tr th:last-child {
  padding-right: 40px;
}

.mm-page .page-content table tbody tr td:first-child {
  padding-left: 40px;
}

.mm-page .page-content table tbody tr td:last-child {
  padding-right: 40px;
}

/*站点下拉*/
.dyniva-matomo-analytics-toolbar-form .form-item label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.dyniva-matomo-analytics-toolbar-form .form-item select {
  display: inline-block;
  vertical-align: middle;
}

/* 统一设置select, input */
.block-dyniva-matomo-analytics-toolbar select,
.block-dyniva-matomo-publish-summary select,
.block-dyniva-matomo-city-content-publish select,
.block-dyniva-matomo-analytics-toolbar select,
.block-dyniva-matomo-publish-month-summary select {
  width: 160px;
  height: 30px;
  vertical-align: baseline;
}

.block-dyniva-matomo-analytics-toolbar input[type=date],
.block-dyniva-matomo-publish-summary input[type=date],
.block-dyniva-matomo-city-content-publish input[type=date],
.block-dyniva-matomo-analytics-toolbar input[type=date],
.block-dyniva-matomo-publish-month-summary input[type=date],
.block-dyniva-matomo-analytics-toolbar input[type=month],
.block-dyniva-matomo-publish-summary input[type=month],
.block-dyniva-matomo-city-content-publish input[type=month],
.block-dyniva-matomo-analytics-toolbar input[type=month],
.block-dyniva-matomo-publish-month-summary input[type=month] {
  box-sizing: border-box;
  width: 168px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #c9c9c9;
  box-shadow: none;
  background-color: transparent;
}

/* 统一设置面板样式 */
#block-dyniva-matomo-publish-summary,
#dyniva-matomo-events-category,
#dyniva_matomo_city_content_publish,
#dyniva_matomo_publish_month_summary,
.block-dyniva-matomo-custom,
#dyniva-matomo-city-report,
.block-real-time {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(204, 204, 204, 0.35);
  border-radius: 4px;
  border: solid 1px #e5e5e5;
}

/* 统一table外城样式 */
.block-dyniva-matomo-pages .matomo-widget,
.block-dyniva-matomo-sites-today {
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

/* 受访页面 */
.block-dyniva-matomo-latest-visits-summary {
  margin-bottom: 20px;
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs {
  box-shadow: 0px 1px 2px 0px rgba(204, 204, 204, 0.35);
  border-radius: 4px;
  border: solid 1px #e5e5e5;
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu {
  margin: 0;
  padding: 0 20px;
  border-bottom: solid 1px #e5e5e5;
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu:after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu {
    padding: 0;
  }
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu li {
  float: left;
  margin-bottom: -2px;
  padding: 10px 40px;
}

@media screen and (max-width: 768px) {
  .block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu li {
    padding: 10px 20px;
  }
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu li.active {
  color: #1988fe;
  border-bottom: solid 3px #1988fe;
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu li a {
  color: inherit;
}

.block-dyniva-matomo-latest-visits-summary .panel-tabs ul.menu li a:hover {
  text-decoration: none;
}

.block-dyniva-matomo-latest-visits-summary .tab-pane {
  text-align: center;
}

.block-dyniva-matomo-latest-visits-summary .tab-pane .pv-wrapper,
.block-dyniva-matomo-latest-visits-summary .tab-pane .uv-wrapper {
  position: relative;
  text-align: left;
  display: inline-block;
  padding: 26px 0 26px 56px;
}

.block-dyniva-matomo-latest-visits-summary .tab-pane .pv-wrapper .tab-content-label,
.block-dyniva-matomo-latest-visits-summary .tab-pane .uv-wrapper .tab-content-label {
  font-size: 14px;
}

.block-dyniva-matomo-latest-visits-summary .tab-pane .pv-wrapper .tab-content-counter,
.block-dyniva-matomo-latest-visits-summary .tab-pane .uv-wrapper .tab-content-counter {
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .block-dyniva-matomo-latest-visits-summary .tab-pane .pv-wrapper {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .block-dyniva-matomo-latest-visits-summary .tab-pane .pv-wrapper {
    margin-right: 60px;
  }
}

.block-dyniva-matomo-latest-visits-summary .tab-pane .pv-wrapper::before {
  position: absolute;
  top: 32px;
  left: 0px;
  content: ' ';
  width: 46px;
  height: 33px;
  background-image: url("../icons/manage/pv-icon.png");
  background-size: cover;
}

@media screen and (min-width: 769px) {
  .block-dyniva-matomo-latest-visits-summary .tab-pane .uv-wrapper {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .block-dyniva-matomo-latest-visits-summary .tab-pane .uv-wrapper {
    margin-left: 60px;
  }
}

.block-dyniva-matomo-latest-visits-summary .tab-pane .uv-wrapper::before {
  position: absolute;
  top: 32px;
  left: 14px;
  content: ' ';
  width: 29px;
  height: 31px;
  background-image: url("../icons/manage/uv-icon.png");
  background-size: cover;
}

/* 实时访客 */
.block-real-time {
  padding: 0;
  display: table;
  width: 100%;
}

.block-real-time .left {
  display: table-cell;
  width: 240px;
  background-color: #1e88e5;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .block-real-time .left {
    display: table-header-group;
  }
}

.block-real-time .left .block-dyniva-matomo-real-time-visitor {
  display: inline-block;
  background: transparent;
}

.block-real-time .left .block-dyniva-matomo-real-time-visitor .matomo-widget {
  background: transparent;
}

.block-real-time .left .block-dyniva-matomo-real-time-visitor .simple-realtime-elaboration {
  width: 125px;
}

.block-real-time .left .block-dyniva-matomo-real-time-visitor .simple-realtime-metric {
  display: block;
  font-size: 18px;
  margin: 20px 0;
  text-align: left;
}

.block-real-time .left .block-dyniva-matomo-real-time-visitor .simple-realtime-metric span[data-metric=visits],
.block-real-time .left .block-dyniva-matomo-real-time-visitor .simple-realtime-metric span[data-metric=actions] {
  font-size: 40px;
}

.block-real-time .right {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .block-real-time .right {
    display: table-footer-group;
  }
}

/* 发文总览 */
#block-dyniva-matomo-publish-summary .total-counter {
  padding: 10px 20px;
  max-width: 400px;
  background-color: #f5f5f5;
}

#block-dyniva-matomo-publish-summary .category-counter {
  padding: 10px 20px;
}

#dyniva-matomo-events-list,
#dyniva-matomo-search-keywords,
#dyniva-matomo-search-keywords-no-results {
  padding: 0;
}

@media screen and (min-width: 40em) {
  #block-dyniva-matomo-search-keywords {
    padding-right: 10px;
  }

  #block-dyniva-matomo-search-keywords-no-results {
    padding-left: 10px;
  }
}

/* 汇总报告 */
.block-dyniva-matomo-analytics-toolbar {
  margin-bottom: 20px;
}

.block-dyniva-matomo-custom p.bg-counter {
  padding: 10px;
  display: inline-block;
  background-color: #f5f5f5;
}

.block-dyniva-matomo-custom p.category-counter {
  padding: 10px;
  display: block;
}
